{% extends "base.html" %} {% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('accounts.static', filename='/css/admin-style.css') }}"
/>
{% endblock %} {% block title%}Admin Dashboard-{% endblock %} {% block content
%}
<!-- Display Registered users -->
<div class="background">
  <div class="users">
    <h2>Registered Users</h2>
    <ul>
      {% for user in users %}
      <li>{{ user.name }} - {{ user.email }}</li>
      {% endfor %}
    </ul>
  </div>

  <!-- Display Orders made -->
  <div class="orders">
    <h2>Orders</h2>
    <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Product Name</th>
          <th>Quantity</th>
        </tr>
      </thead>
    </table>
  </div>

  <!-- Add products section -->
  <div class="products-form">
    <h2>Products</h2>
    <form action="POST">
      <div class="input-box">
        {{ form.crsf_token }}
        {{ form.product_name.label }}: {{ form.product_name() }}<br />
        {{ form.category.label }}: {{ form.category() }}<br />
        {{ form.description.label }}: {{ form.description() }}<br />
        {{ form.price.label }}: {{ form.price() }}<br />
        {{ form.image_url.label }}: {{ form.image_url() }}<br />
        {{ form.availability.label }}: {{ form.availability() }}<br />
        {{ form.discount.label }}: {{ form.discount() }}<br />
        {{ form.submit() }}
      </div>
    </form>
  </div>
</div>
{% endblock %}
