{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('accounts.static', filename='/css/reset-forgot-password-style.css')}}">
{% endblock %}
{% block content %}
<div class="background">
    {% if reset_mode %}
    <div class="reset-password">
      <h2>Reset Password</h2>
      <form action="{{ url_for('accounts.reset_password', token=token) }}" method="POST">
        {{ form.csrf_token }}
        <div class="input-box">
          <span class="icon"
            ><iconify-icon icon="bi:lock-fill"></iconify-icon
          ></span>
          {{ form.password(placeholder="Password", required=True) }}
          {% if form.password.errors %}
          {% for error in form.password.errors %}
          <div class="error-message">{{ error }}</div>
          {% endfor %}
          {% endif %}
        </div>
        <div class="input-box">
          <span class="icon"
            ><iconify-icon icon="bi:lock-fill"></iconify-icon
          ></span>
          {{ form.confirm_password(placeholder="Confirm Password", required=True) }}
          {% if form.confirm_password.errors %}
          {% for error in form.confirm_password.errors %}
          <div class="error-message">{{ error }}</div>
          {% endfor %}
          {% endif %}
        </div>
        <button type="submit" class="button">Reset</button>
      </form>
    </div>
  {% else %}
  <div class="forgot-password">
    <h2>Forgot Password</h2>
    <form action="{{ url_for('accounts.forgot_password') }}" method="POST">
      {{ form.csrf_token }}
      <div class="input-box">
        <span class="icon"
          ><iconify-icon icon="ic:baseline-email"></iconify-icon
        ></span>
        {{ form.email(placeholder="Email", required=True) }}
        {% if form.email.errors %}
        {% for error in form.email.errors %}
        <div class="error-message">{{ error }}</div>
        {% endfor %}
        {% endif %}
      </div>
      <button type="submit" class="button">Reset password</button>
    </form>
  </div>
  {% endif %}
  </div>
{% endblock %}
