{% extends "base.html" %}
{% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('shop.static', filename='/css/cakes-style.css') }}"
/>
{% endblock %}
{%block title %}Cakes:Shop-{% endblock %}
{% block content %}
<div class="container">
  <div class="cake-category">
    <h1>CAKES</h1>
    <p>Take a walk through our cakes and be inspired to try...everything!</p>
  </div>
</div>

<div class="cakes">
  {% for product in products %}
    <div class="cake">
      <div class="image" onmousemove="moveOverlay(event)">
        <a href="{{ url_for('shop.product_detail', product_id=product.id) }}">
          <img src="{{ product.image_url }}" alt="{{ product.name }}">
        </a>
        <div class="overlay">
          <h3>* {{ product.name }} - Ksh {{ product.price }}</h3>
        </div>
      </div>
      <div class="buy">
        <h4><span>{{ product.name }}</span><br />Ksh {{ product.price }}</h4>
        <input type="number" id="quantity{{ product.id }}" min="1" value="1" style="display: none;">
        <button class="button" onclick="addToCart('{{ product.id }}')"><span>Add to cart</span></button>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
