{% extends "base.html" %} {% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('shop.static', filename='/css/cart-style.css') }}"
/>
{% endblock %}
{% block title %}Cart-{% endblock %} {% block content %}
<!-- Cart Modal-window -->
  <div class="cart-content">
    <h2>Cart</h2>
    {% for item in cart_items %}
      <li>
        <span>{{ item.product.name }}</span>
        <input class="quantity-input" type="number" min="1" value="{{ item.quantity }}" data-product-id="{{ item.product.id }}">
        <button class="remove-item" data-product-id="{{ item.product.id }}">Remove</button>
      </li>
      {% endfor %}
    </ul>
    <p id="total">Total: Ksh {{ total_amount }}</p>
    <button id="clear-cart">Clear Cart</button>
  </div>


{% endblock %}
