{% extends "base.html" %}
{% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('shop.static', filename='/css/pastries-style.css') }}"
/>
{% endblock %}
{%block title %}Pastries:Shop-{% endblock %}
{% block content %}
<div class="pastry-category">
  <h1>PASTRIES</h1>
  <p>
    Indulge in a symphony of flavors that will transport you to pastry
    paradise!!!
  </p>
</div>

<div class="pastries">
  <div class="pastry">
    <div class="image" onmousemove="moveOverlay(event)">
      <img
        src="{{ url_for('shop.static', filename='/images/pastries/pastry-0.jpg') }}"
        alt="Darnish Pastry"
      />
      <div class="overlay">
        <h3>* Darnish Pastry - Ksh 400</h3>
      </div>
    </div>
    <div class="buy">
      <h4><span>Darnish Pastry</span><br />Ksh 400</h4>
      <button class="button"><span>Add to cart </span></button>
    </div>
  </div>

  <div class="pastry">
    <div class="image" onmousemove="moveOverlay(event)">
      <img
        src="{{ url_for('shop.static', filename='/images/pastries/pastry-1.jpg') }}"
        alt="Croissant"
      />
      <div class="overlay">
        <h3>* Croissant - Ksh 350</h3>
      </div>
    </div>
    <div class="buy">
      <h4><span>Croissant</span><br />Ksh 350</h4>
      <button class="button"><span>Add to cart </span></button>
    </div>
  </div>

  <div class="pastry">
    <div class="image" onmousemove="moveOverlay(event)">
      <img
        src="{{ url_for('shop.static', filename='/images/pastries/pastry-2.jpg') }}"
        alt="Bagels"
      />
      <div class="overlay">
        <h3>* Bagels - Ksh 250</h3>
      </div>
    </div>
    <div class="buy">
      <h4><span>Bagels</span><br />Ksh 250</h4>
      <button class="button"><span>Add to cart </span></button>
    </div>
  </div>

  <div class="pastry">
    <div class="image" onmousemove="moveOverlay(event)">
      <img
        src="{{ url_for('shop.static', filename='/images/pastries/pastry-3.jpg') }}"
        alt="Chocolate Covered Donuts"
      />
      <div class="overlay">
        <h3>* Chocolate Covered Donuts - Ksh 50</h3>
      </div>
    </div>
    <div class="buy">
      <h4><span>Chocolate Covered Donuts</span><br />Ksh 50</h4>
      <button class="button"><span>Add to cart </span></button>
    </div>
  </div>

  <div class="pastry">
    <div class="image" onmousemove="moveOverlay(event)">
      <img
        src="{{ url_for('shop.static', filename='/images/pastries/pastry-4.jpg') }}"
        alt="Cannolis"
      />
      <div class="overlay">
        <h3>* Cannolis - Ksh 500</h3>
      </div>
    </div>
    <div class="buy">
      <h4><span>Cannolis</span><br />Ksh 500</h4>
      <button class="button"><span>Add to cart </span></button>
    </div>
  </div>

  <div class="pastry">
    <div class="image" onmousemove="moveOverlay(event)">
      <img
        src="{{ url_for('shop.static', filename='/images/pastries/pastry-5.jpg') }}"
        alt="Churros"
      />
      <div class="overlay">
        <h3>* Churros - Ksh 500</h3>
      </div>
    </div>
    <div class="buy">
      <h4><span>Churros</span><br />Ksh 500</h4>
      <button class="button"><span>Add to cart </span></button>
    </div>
  </div>

  <div class="pastry">
    <div class="image" onmousemove="moveOverlay(event)">
      <img
        src="{{ url_for('shop.static', filename='/images/pastries/pastry-6.jpg') }}"
        alt="Puff Pastry"
      />
      <div class="overlay">
        <h3>* Puff Pastry - Ksh 200</h3>
      </div>
    </div>
    <div class="buy">
      <h4><span>Puff Pastry</span><br />Ksh 200</h4>
      <button class="button"><span>Add to cart </span></button>
    </div>
  </div>

  <div class="pastry">
    <div class="image" onmousemove="moveOverlay(event)">
      <img
        src="{{ url_for('shop.static', filename='/images/pastries/pastry-7.jpg') }}"
        alt="Cranberry Jam Pastry"
      />
      <div class="overlay">
        <h3>* Cranberry Jam Pastry - Ksh 600</h3>
      </div>
    </div>
    <div class="buy">
      <h4><span>Cranberry Jam Pastry</span><br />Ksh 600</h4>
      <button class="button"><span>Add to cart </span></button>
    </div>
  </div>

  <div class="pastry">
    <div class="image" onmousemove="moveOverlay(event)">
      <img
        src="{{ url_for('shop.static', filename='/images/pastries/pastry-8.jpg') }}"
        alt="Chocolate Babka"
      />
      <div class="overlay">
        <h3>* Chocolate Babka - Ksh 2,000</h3>
      </div>
    </div>
    <div class="buy">
      <h4><span>Chocolate Babka</span><br />Ksh 2,000</h4>
      <button class="button"><span>Add to cart </span></button>
    </div>
  </div>
</div>

{% endblock %}
