{% extends "base.html" %}
{% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('shop.static', filename='/css/pastries-style.css') }}"
/>
{% endblock %}
{%block title %}Pastries:Shop-{% endblock %}
{% block content %}
<div class="pastry-category">
  <h1>PASTRIES</h1>
  <p>
    Indulge in a symphony of flavors that will transport you to pastry
    paradise!!!
  </p>
</div>

<div class="pastries">
  {% for product in products %}
    <div class="pastry">
      <div class="image" onmousemove="moveOverlay(event)">
        <img src="{{ product.image_url }}" alt="{{ product.name }}">
        <div class="overlay">
          <h3>* {{ product.name }} - Ksh {{ product.price }}</h3>
        </div>
      </div>
      <div class="buy">
        <h4><span>{{ product.name }}</span><br />Ksh {{ product.price }}</h4>
        <button class="button"><span>Add to cart</span></button>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
