{% extends "base.html" %} {% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('shop.static', filename='/css/search-style.css')}}"
/>
{% endblock %} {% block title %}Search-{% endblock %} {% block content %}
<div class="search-container">
  {% if products %}
  <p>ALL SEARCH RESULTS FOR</p>
  <h2>{{ search_term }}</h2>
  <div class="products">
    {% for product in products %}
    <div class="product">
      <div class="image" onmousemove="moveOverlay(event)">
          <img src="{{ url_for('display_images', filename=product.image) }}" alt="{{ product.name }}">
        <div class="overlay">
          <h3>* {{ product.name }} - Ksh {{ product.price }}</h3>
        </div>
      </div>
      <div class="buy">
        <h4><span>{{ product.name }}</span><br />Ksh {{ product.price }}</h4>
        <a href="{{ url_for('shop.product_detail', product_id=product.id) }}">
          <button class="button" type="submit"><span>View more</span></button>
        </a>
      </div>
    </div>
  {% endfor %}{% else %}
  <div class="no-results">
      <h3>No results found.</h3>
      <p>Check out our other products.</p>
      <a href="{{ url_for('shop.shop')}}">
        GO TO SHOP</a
      >
  </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
