.popup-container {
  position: fixed;
  top: 24%;
  left: 50%;
  width: 40%;
  transform: translateX(-50%);
  z-index: 9999;
  border: 1px solid rgba(217, 217, 217, 0.17);
  border-radius: 5px;
  display: none;
}

/* Custom styles for the individual messages */
.message {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #d9edf7;
  color: #31708f;
  border-color: #bce8f1;
}

/* Custom styles for different message categories */
.success {
  background-color: #dff0d8;
  color: #3c763d;
  border-color: #d6e9c6;
}

.error {
  background-color: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
}

.info {
  background-color: #d9edf7;
  color: #31708f;
  border-color: #bce8f1;
}

.warning {
  background-color: #fcf8e3;
  color: #8a6d3b;
  border-color: #faebcc;
}

/* Custom styles for the close button */
.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: inherit;
  outline: none;
}

