/* Global CSS */
@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  font-family: "Old Standard TT", serif;
  scroll-behavior: smooth;
}

/* Header properties: background image */
.wrapper {
  background-image: url("/core/static/images/home-page/bg.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  position: relative;
}

/* Body properties */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #d9d9d9;
}

/* Navigation bar properties */
.topnav {
  position: fixed;
  top: 0px;
  transition: top 0.3s;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 3rem;
  margin: 2rem;
  z-index: 100;
  background-color: rgba(217, 217, 217, 0.17);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(217, 217, 217, 0.17);
}

/* All anchor tags */
a {
  text-decoration: none;
}

/* Logo properties */
.logo img {
  width: 40%;
}

/* Navigation links and buttons properties */
.nav-area {
  display: flex;
  align-items: center;
}

.nav-buttons {
  display: flex;
  align-items: center;
}

/* Remove list style from nav-buttons */
.nav-buttons {
  list-style: none;
}

/* Styling for the iconify-icon within nav-buttons */
.nav-buttons iconify-icon {
  color: #402203;
  font-size: 18px;
  margin: 1rem;
}

/* Styling for the iconify-icon within nav-buttons when hovered */
.nav-buttons iconify-icon:hover {
  font-weight: bolder;
  padding-bottom: 2px;
}

/* Styling for the menu-bars icon */
.nav-buttons .menu-bars {
  border: 1px solid #402203;
  border-radius: 5px;
  padding: 5px;
  display: none;
}

/* Styling for navigation links */
.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 5;
}

/* Styling for anchor tags within nav-links */
.nav-links a {
  color: #402203;
  text-decoration: none;
  font-size: 16px;
  margin-right: 3rem;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

/* Styling for anchor tags within nav-links when hovered */
.nav-links a:hover {
  font-weight: bolder;
  padding-bottom: 2px;
}

/* Hidden search bar */
.search-bar {
  position: absolute;
  top: 20%;
  width: 95%;
  background-color: rgba(217, 217, 217, 0.17);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(217, 217, 217, 0.17);
  z-index: 100;
  /* height: 14%; */
  left: 2.5%;
  display: none;
}

/* Styling for the search-form */
#search-form {
  display: flex;
  justify-content: space-between;
  padding: 2rem 6rem;
}

/* Styling for the input field in search-form */
#search-form input[type="text"] {
  width: 300px;
  border: transparent;
  outline: none;
  background: transparent;
  /* background-color: rgba(217, 217, 217, 0.17); */
  border-bottom: 1px solid #987654;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  color: #402203;
}

/* Styling for the input field in search-form when hovered or active */
#search-form input:hover,
#search-form input:active {
  border: transparent;
  background: transparent;
  outline: none;
}

/* Styling for the button in search-form */
#search-form button {
  /* background-color: rgba(217, 217, 217, 0.17); */
  background: none;
  border: none;
  font-size: 24px;
  color: #402203;
}

/* Welcome-text */
.welcome-text {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  top: 65%;
  left: 50%;
}

/* Styling for the anchor tag within welcome-text */
.welcome-text a {
  text-align: center;
  border: 1px solid #fff;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
  color: #fff;
}

/* Styling for the anchor tag within welcome-text when hovered */
.welcome-text a:hover {
  background: #fff;
  color: #000;
}

/* Styling for the paragraph within welcome-text */
.welcome-text p {
  color: #fff;
  font-style: italic;
  font-size: 30px;
}

/* Details of the about section */
.about-section {
  display: flex;
  justify-content: space-between;
  margin: 2rem 2rem;
}

/* Styling for the icons container */
.icons {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

/* Styling for the iconify-icon within icons */
.icons iconify-icon {
  margin-bottom: 1rem;
  color: #242424;
  font-size: 8rem;
}

/* Styling for the about container */
.about {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: auto;
  padding: 1rem;
  margin-left: 5rem;
  background-color: #1f3a48;
  box-shadow: #333;
}

/* Styling for the h2 element within about */
.about h2 {
  text-align: center;
  color: #d9d9d9;
  font-size: 4rem;
}

/* Styling for the paragraphs within about */
.about p {
  text-align: justify;
  color: #987654;
  font-size: 24px;
  margin-top: 1rem;
  padding: 4rem;
}

/* For the gram - Instagram posts */
.social-media {
  justify-content: center;
}

/* Styling for the h2 element within gram */
.gram h2 {
  text-align: center;
  font-style: italic;
  margin-top: 4rem;
  color: #000;
}

/* Styling for the posts container */
.posts {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the post container */
.post {
  position: relative;
  margin: 10px;
}

/* Styling for the images within post */
.post img {
  width: 250px;
  height: 440px;
}

/* Styling for the lower-image class */
.lower-image {
  margin-top: 15rem;
}

/* Styling for the image overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 440px;
  background-color: rgba(26, 22, 22, 0.5);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the iconify-icon within overlay */
.overlay iconify-icon {
  color: white;
  font-size: 32px;
}

/* Styling for the image overlay on hover */
.post:hover .overlay {
  opacity: 1;
}

/* Styling for the follow section */
.follow {
  text-align: center;
  padding: 3rem;
  font-size: 20px;
}

/* Footer details and properties */
footer {
  background-color: #1f3a48;
}

/* Styling for the footer area */
.footer-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  padding: 3rem;
}

/* Styling for the connect container */
.connect p {
  font-style: italic;
  color: #d9d9d9;
}

/* Styling for the social container */
.social {
  display: flex;
  flex-direction: column;
}

/* Styling for the iconify-icon within social */
.social iconify-icon {
  font-size: 1rem;
  color: #987654;
}

/* Styling for the contact-info container */
.contact-info p {
  font-style: italic;
  color: #d9d9d9;
}

/* Styling for the call-email container */
.call-email p {
  color: #987654;
}

/* Styling for the address container */
.address p {
  font-style: italic;
  color: #d9d9d9;
}

/* Styling for the iconify-icon within physical-address */
.physical-address iconify-icon {
  font-size: 1rem;
  color: #987654;
}

/* Styling for the paragraph within physical-address */
.physical-address p {
  font-style: normal;
  color: #987654;
}

/* Styling for the bottom-nav container */
.bottom-nav {
  display: flex;
  flex-direction: column;
}

/* Styling for the paragraph within bottom-nav */
.bottom-nav p {
  font-style: italic;
  color: #d9d9d9;
}

/* Styling for the go-to container */
.go-to {
  display: flex;
  flex-direction: column;
}

/* Styling for the anchor tag within go-to */
.go-to a {
  text-decoration: none;
  color: #987654;
}

/* Styling for the copyright section */
.copyright {
  font-style: italic;
  text-align: center;
}

/* medium display styles */
@media only screen and (max-width: 850px) {
  /* Adjust header for medium displays */
  header {
    height: auto;
    min-height: 100vh;
    background-position: top;
  }

  /* Adjust logo size for medium displays */
  .logo img {
    width: 40%;
  }

  /* Adjust padding for topnav in medium displays */
  .topnav {
    padding: 1rem;
  }

  /* Adjust navigation area for medium displays */
  .nav-area {
    position: absolute;
    background: #1f3a48;
    inset: 0 0 0 15%;
    height: 100vh;
    flex-direction: column;

  }

  /* Adjust navigation links for medium displays */
  .nav-links {
    flex-direction: column;
    align-items: center;
    /* color: #d9d9d9; */
  }

  /* Adjust navigation buttons for medium displays */
  .nav-buttons {
    flex-direction: column;
    justify-content: left;
  }

  /* Display the menu bars for responsive navigation in medium displays */
  .nav-buttons.responsive .menu-bars {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Adjust alignment for menu bars in responsive navigation in medium displays */
  .nav-buttons.responsive .menu-bars {
    text-align: right;
  }

  /* Adjust about section for medium displays */
  .about-section {
    flex-direction: column;
    margin: 0 2rem;
  }

  /* Adjust about container for medium displays */
  .about {
    margin-left: 2rem;
  }

  /* Adjust heading size within about for medium displays */
  .about h2 {
    font-size: 2rem;
  }

  /* Adjust paragraph padding within about for medium displays */
  .about p {
    padding: 2rem;
  }

  /* Adjust icons container for medium displays */
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3;
    margin-right: 2rem;
  }

  /* Adjust icon size within icons container for medium displays */
  .icons iconify-icon {
    font-size: 6rem;
  }

  /* Adjust gram section for medium displays */
  .gram h2 {
    margin-top: 2rem;
    font-size: 20px;
  }

  /* Adjust image size within post for medium displays */
  .post img {
    width: 200px;
    height: 350px;
  }

  /* Adjust margin within lower-image for medium displays */
  .lower-image {
    margin-top: 0rem;
    margin-bottom: 2px;
  }

  /* Adjust height within post for medium displays */
  .overlay {
    height: 350px;
  }

  /* Adjust posts container for medium displays */
  .posts {
    display: flex;
    /* max-width: 1200px; */
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Adjust footer area for medium displays */
  .footer-area {
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    align-items: flex-start;
  }

  /* Adjust font size for connect section in medium displays */
  .connect p {
    font-size: 16px;
  }

  /* Adjust icon size within social section for medium displays */
  .social iconify-icon {
    font-size: 0.8rem;
  }

  /* Adjust font size for contact-info section in medium displays */
  .contact-info p {
    font-size: 16px;
  }

  /* Adjust font size for call-email section in medium displays */
  .call-email p {
    font-size: 14px;
  }

  /* Adjust font size for address section in medium displays */
  .address p {
    font-size: 16px;
  }

  /* Adjust icon size within physical-address section for medium displays */
  .physical-address iconify-icon {
    font-size: 0.8rem;
  }

  /* Adjust font size for paragraph within physical-address section in medium displays */
  .physical-address p {
    font-size: 14px;
  }

  /* Adjust font size for bottom-nav section in medium displays */
  .bottom-nav p {
    font-size: 16px;
  }

  /* Adjust font size for anchor tag within go-to section in medium displays */
  .go-to a {
    font-size: 14px;
  }

  /* Adjust font size for copyright section in medium displays */
  .copyright {
    font-size: 10px;
  }
}
