{% extends "base.html" %} {% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('admin.static', filename='/css/admin-style.css') }}"
/>
{% endblock %} {% block title%}Admin Dashboard-{% endblock %} {% block content
%}
<!-- Display Registered users -->

<div class="background">
  <div class="admin-container">
    <div class="admin">
      <p>
        Hello, {{ current_user.name }}
        <a href=""><iconify-icon icon="ooui:user-avatar"></iconify-icon></a>
      </p>
    </div>
    <div class="details">
      <div class="users">
        <h2>Registered Users</h2>
        <ol type="1">
          {% for user in users %}
          <li>
            {{ user.name }} - {{ user.email }} : {% if user.is_admin %} Admin {%
            else %} Member {% endif %}
          </li>
          {% endfor %}
        </ol>
      </div>

      <!-- Display Orders made -->
      <div class="orders">
        <h2>Orders</h2>
        <table>
          <thead>
            <tr>
              <th>Order ID</th>
              <th>User</th>
              <th>Order Date</th>
              <th>Order Status</th>
            </tr>
          </thead>
          <tbody>
              {% for order in orders %}
              <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.user.id }}</td>
                <td>{{ order.order_date }}</td>
                <td>{{ "Completed" if order.status else "Pending" }}</td>
              </tr>
             {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- Add products section -->
      <section class="shop">
        <div class="products-form">
          <h2>Products</h2>
          <form action="" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="input-box">
              {{ form.name.label }}<br />
              {{ form.name() }}<br />
              {{ form.category.label }}<br />
              {{ form.category() }}<br />
              {{ form.description.label }}<br />
              {{ form.description() }}<br />
              {{ form.price.label }}<br />
              {{ form.price() }}<br />
              {{ form.image.label }}<br />
              {{ form.image }}<br />
              {{ form.availability.label }}<br />
              {{ form.availability() }}<br />
              {{ form.discount.label }}<br />
              {{ form.discount() }}<br />
              {{ form.submit() }}
            </div>
          </form>
        </div>
        <div class="available">
          <h3>Available Products</h3>
          <ul>
            {% for category in categories %}
            <li>
              <h4>{{ category }}</h4>
              <ul>
                {% for product in products if product.category == category %}
                <li>
                  {{ product.name }} - Ksh {{ product.price }}
                  <a
                    href="#"
                    class="edit-link"
                    data-target="#editModal{{ product.id }}"
                    >Edit</a
                  >
                  <a
                    href="#"
                    onclick="event.preventDefault(); document.getElementById('delete-form-{{ product.id }}').submit();"
                    >Delete</a
                  >
                  <form
                    id="delete-form-{{ product.id }}"
                    action="{{ url_for('admin.delete_product', product_id=product.id) }}"
                    method="POST"
                    style="display: none"
                  >
                    {{ form.csrf_token }}
                  </form>
                </li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>

      <!-- Edit Product Modal -->
      {% for category in categories %}
       {% for product in products if product.category == category %}
      <div class="modal" id="editModal{{ product.id }}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Product</h5>
              <a href="#" class="close">&times;</a>
            </div>
            <div class="modal-body">
              <!-- Add the form for editing the product -->
              <form
                method="POST"
                action="{{ url_for('admin.edit_product', product_id=product.id) }}"
                enctype="multipart/form-data"
              >
                {{ form.csrf_token }} {{ form.hidden_tag() }} {{ form.name.label
                }} {{ form.name(value=product.name) }} {{ form.category.label }}
                {{ form.category(value=product.category) }}
                <label for="description">Description</label><br />
                <textarea id="description" name="description" rows="4">
                {{ product.description }}</textarea
                ><br />
                {{ form.price.label }} {{ form.price(value=product.price) }} {{
                form.image.label }} {{ form.image }} {{ form.availability.label
                }} {{ form.availability(value=product.availability) }} {{
                form.discount.label }} {{ form.discount(value=product.discount)
                }}
                <input type="submit" value="Save" />
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
      {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
