<!-- edit_product.html -->
<form method="POST">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}

    {{ form.name.label }} {{ form.name }}
    {{ form.category.label }} {{ form.category }}
    {{ form.description.label }} {{ form.description }}
    {{ form.price.label }} {{ form.price }}
    {{ form.image_url.label }} {{ form.image_url }}
    {{ form.availability.label }} {{ form.availability }}
    {{ form.discount.label }} {{ form.discount }}

    <input type="submit" value="Save">
</form>
