
.cart-content {
    background-color: #fdfdfd;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.cart-content h2 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #987654;
  }

  .cart-content div {
    margin-bottom: 10px;
  }

  .cart-content button {
    display: block;
    margin-top: 10px;
  }

  .cart-table table {
    width: 100%;
    border-collapse: collapse;
  }

  .cart-table th {
    background-color: #1f3a48;
    color: #987654;
    padding: 10px;
  }

  .cart-table th,
  .cart-table td {
    border: 1px solid #ccc;
    padding: 10px;
  }
.cart-table td {
    color: #402203;
}

  .cart-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .delete-item-form iconify-icon {
    justify-content: center;
    color: #402203;
    background-color: inherit;
    border: none;
    outline: none;
  }

  .total {
    color: #402203;
    padding: 20px;
    /* justify-content: space-evenly; */
  }
  .clear_cart_or_checkout {
    display: flex;
    justify-content: space-between;
  }

  .clear_cart_or_checkout .button {
    border-radius: 4px;
    background-color: #987654;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
  }

  .clear_cart_or_checkout .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .clear_cart_or_checkout .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .clear_cart_or_checkout .button:hover span {
    padding-right: 25px;
  }

  .clear_cart_or_checkout .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .empty-cart {
    text-align: center;
    margin-bottom: 3rem;
  }

  .empty-cart h3 {
    border-bottom: 3px solid #987654;
    text-transform: uppercase;
    color: #1f3a48;
    font-size: 30px;
    padding: 2rem;
  }

  .empty-cart p {
    font-size: 40px;
    font-style: italic;
    color: #1f3a48;
    padding: 4rem;
  }

  .empty-cart a {
    background-color: #987654;
    font-size: 20px;
    padding: 10px 25px;
    color: #d9d9d9;
    display: inline-block;
    margin-bottom: 2rem;
  }

  .empty-cart a:hover {
    color: #1f3a48;
  }


