@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  font-family: "Old Standard TT", serif;
  scroll-behavior: smooth;
}

/* body properties */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #d9d9d9;
}

.fd-category {
  margin-top: 10rem;
}
.fd-category h1 {
  text-align: center;
  color: #1f3a48;
  padding: 1rem;
}

.fd-category p {
  text-align: center;
  color: #1f3a48;
  font-style: italic;
  font-size: 30px;
  font-weight: 100;
}

.fancy-desserts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.fancy-dessert {
  position: relative;
  padding-bottom: 3rem;
  text-align: center;
}

.fancy-dessert .image {
  text-align: center;
}

.fancy-dessert img {
  width: 300px;
  height: 440px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: #fff;
  color: #402203;
  padding: 10px;
  font-style: italic;
  text-align: justify;
  z-index: 1;
}

h3 {
    font-size: 15px;
}

.image:hover .overlay {
  opacity: 1;
}

.buy {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.buy h4 span {
    font-size: 14px;
    font-family: Tahoma, sans-serif;
}

.buy h4 {
    color: #1f3a48;
}

.button {
    border-radius: 4px;
    background-color: #987654;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
