/* Styling for the entire document */
@charset "utf-8";

/* Resetting default styles for all elements */
* {
  margin: 0;
  padding: 0;
  font-family: "Old Standard TT", serif;
  scroll-behavior: smooth;
}

/* Styling the body of the document */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #d9d9d9;
}

/* Styling for the product section */
.products {
  margin-top: 10rem;
}

.products h1 {
  text-align: center;
  color: #1f3a48;
  padding: 1rem;
}

.products p {
  text-align: center;
  color: #1f3a48;
  font-style: italic;
  font-size: 30px;
  font-weight: 100;
}

/* Styling for the items container */
.items {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

/* Styling for individual items */
.item {
  position: relative;
  padding-bottom: 3rem;
  text-align: center;
}

/* Styling for the item titles */
h2 a {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #1f3a48;
}

/* Styling for the item images */
.item .image {
  text-align: center;
}

.item img {
  width: 100%;
  height: 420px;
}

/* Styling for the item links and hover effects */
.item a {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.item a::before,
.item a::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}

.item a::before {
  background-color: #987654;
  height: 1px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.item a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #987654;
  font-style: italic;
}

.item a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

.item a:hover::after {
  transform: translate3d(0, 0, 0);
}

.item a span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.item a:hover span {
  transform: translate3d(-200%, 0, 0);
}

/* Styling for the middle text overlay on item images */
.middle-text {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* Styling for the item image opacity and middle text on hover */
.image:hover img {
  opacity: 0.3;
}

.image:hover .middle-text {
  opacity: 1;
}

/* Styling for the links within h3 elements */
h3 a {
  background-color: #1f3a48;
  color: #987654;
  font-size: 16px;
  padding: 16px 32px;
}

/* Media Query for max-width 850px - Adjust styles for smaller screens */
@media only screen and (max-width: 850px) {
   /* Adjust font size for product section */
  .products h1 {
    font-size: 24px;
  }

  /* Adjust font size for product section */
  .products p {
    font-size: 24px;
  }

  /* Adjust layout for item containers */
  .items {
    flex-wrap: wrap;
    padding: 1rem;
  }

   /* Adjust item spacing */
  .item {
    padding-bottom: 0;
  }

  /* Adjust item image height */
  .item img {
    height: 320px;
  }

  /* Adjust spacing for item titles */
  h2 a {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
