/* Set the character encoding to UTF-8 */
@charset "utf-8";

/* Reset default styling and set global font-family */
* {
  margin: 0;
  padding: 0;
  font-family: "Old Standard TT", serif;
  scroll-behavior: smooth;
}

.background {
    height: 100vh;
}
.users {
    margin-top: 10rem;
}

.orders {
    margin-top: 3rem;
}
.products-form {
    position: absolute;
    left: 70%;
    top: 25%;
    /* border: 2px solid rgba(217, 217, 217, 0.2); */

}

.input-box {
    /* display: flex; */
}
