@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  font-family: "Old Standard TT", serif;
  scroll-behavior: smooth;
}

/* header properties: background image */
.background {
  background-image: url("/static/images/home-page/bg.jpg");
  width: 100%;
  height: 170vh;
  background-size: cover;
  background-position: center center;
  position: relative;
  opacity: 5;
}

.login-container {
  position: absolute;
  transform: translate(-50%, 50%);
  left: 50%;
  width: 450px;
  height: 550px;
  background: transparent;
  background-color: rgba(217, 217, 217, 0.2);
  border: 2px solid rgba(217, 217, 217, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 100%;
  padding: 40px;
}

.login-box h2 {
  font-size: 2em;
  color: #987654;
  text-align:center;
}

.login-box p {
    font-size: 1.2em;
    padding: 1rem;
    color: #d9d9d9;
    text-align: center;
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 1.5px solid #1f3a48;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #d9d9d9;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box  input:focus~label,
.input-box  input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: #1f3a48;
    font-size: 1.2em;
    line-height: 57px;
}

.remember {
    font-size: .9rem;
    color: #d9d9d9;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}


.remember a {
    color: #987654;
    text-decoration: none;
}

.remember a:hover {
    text-decoration: underline;
}


.button {
    width: 100%;
    height: 45px;
    background: #1f3a48;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    color: #987654;
}

.register {
    font-size: .9rem;
    margin: 25px 0 10px;
}

.register a {
    color: #402203;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}
