<div class="footer-area">
    <div class="connect">
        <p>CONNECT</p>
        <div class="social">
            <a href="#" title="Instagram account" target="_blank">
                <iconify-icon icon="bxl:instagram"></iconify-icon>
            </a>
            <a href="#" title="Facebook account" target="_blank">
                <iconify-icon icon="ri:facebook-line"></iconify-icon>
            </a>
        </div>
    </div>

    <div class="contact-info">
        <p>GET IN TOUCH</p>
        <div class="call-email">
            <p>07## ### ###</p>
            <p>joyoustreats@gmail.com</p>
        </div>
    </div>

    <div class="address">
        <p>LOCATION</p>
        <div class="physical-address">
            <a href="#" title="Google pin">
              <iconify-icon icon="fluent:location-28-regular"></iconify-icon>
            </a>
            <p>THIKA, KENYA</p>
        </div>
    </div>

    <div class="bottom-nav">
        <p>NAVIGATE</p>
        <div class="go-to">
          <a href="#About">ABOUT US</a>
          <a href="/shop">SHOP</a>
          <a href="#">CONTACT</a>
          <a href="#">LOGIN</a>
        </div>
    </div>
</div>

<div class="copyright">
    <p>Copyright 2023, Joyous Joyous.</p>
</div>
