<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
        <link rel="manifest" href="images/site.webmanifest">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <title>Joyous Treats</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <div class="topnav">
                    <div class="logo">
                        <img src="images/logo.png" alt="logo">
                    </div>
                    <ul class="nav-area">
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">SHOP</a></li>
                        <li><a href="#">CONTACT</a></li>
                        <li><a href="#">LOGIN</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-search"></i> </a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i> </a></li>
                    </ul>
                </div>
                <div class="welcome-text">
                    <p>A home away from home</p>
                    <a href="#">Discover Now</a>
                </div>
            </div>
        </div>

        <div class="about">
            <h2>About</h2>
            <p>Joyous Treats is a delightful bakery ordering website that brings the joy of delicious treats right to your fingertips. From scrumptious cakes and pastries to heavenly cookies and bread, Joyous Treats offers a wide variety of freshly baked delights to satisfy your cravings. With convenient options for customization, seamless online payments, and flexible delivery or pickup choices, Joyous Treats ensures a delightful and hassle-free ordering experience. Indulge in the joy of exceptional baked goods from the comfort of your home or office with Joyous Treats.
            </p>
        </div>
    </body>
</html>
