<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% include 'icon.html' %}

    <link rel="stylesheet" href="{{url_for('static', filename='/css/register-style.css')}}">
    <script></script>
    <title>Register:Joyous Treats</title>
  </head>
  <body>

    <div class="background">

      {% include 'nav.html' %}

      <div class="register-container">
        <div class="register-box">
          <h2>Sign up</h2>
          <p>Create account to access your profile,order history and more</p>
          <form action="/register">
            <div class="input-box">
              <span class="icon"
                ><iconify-icon icon="wpf:name"></iconify-icon>
              </span>
              <input type="name" required />
              <label>Name</label>
            </div>
            <div class="input-box">
              <span class="icon"
                ><iconify-icon icon="ic:baseline-email"></iconify-icon
              ></span>
              <input type="email" required />
              <label>Email</label>
            </div>
            <div class="input-box">
              <span class="icon"
                ><iconify-icon icon="bi:lock-fill"></iconify-icon
              ></span>
              <input type="password" required />
              <label>Password</label>
            </div>
            <button type="submit" class="button">Create account</button>
            <div class="login">
              <p>
                Already have an account?<a href="/login" class="login-link"
                  >Login</a
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>

  <footer>

    {% include 'footer.html' %}

  </footer>
</html>
