<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% include 'icon.html' %}

    <link rel="stylesheet" href="{{ url_for('static', filename='/css/shop-style.css') }}">
    <title>Shop-Joyous Treats</title>
  </head>
  <body>

    {% include 'nav.html' %}

    <div class="products">
        <p>Shop by Category</p>
        <h1>PRODUCTS</h1>

    </div>

    <!--  -->

    <div class="items">
        <div class="item">
            <h2><a href="/shop/cakes" class="item-link" data-replace="CAKES"><span>CAKES</span></a></h2>
            <div class="image">
                <img src="{{ url_for('static', filename='/images/cakes/cake-1.jpg') }}" alt="Tall fancy cake" >
                <div class="middle-text">
                    <h3><a href="/shop/cakes">CAKES</a></h3>
                </div>
            </div>
        </div>

        <div class="item">
            <h2><a href="/shop/pies" class="item-link" data-replace="PIES"><span>PIES</span></a></h2>
            <div class="image">
                <img src="{{ url_for('static', filename='/images/pies/pie-1.jpg') }}" alt="Mini chocolate pies">
                <div class="middle-text">
                    <h3><a href="/shop/pies">PIES</a></h3>
                </div>
            </div>
        </div>

        <div class="item">
           <h2><a href="/shop/pastries" class="item-link" data-replace="PASTRIES"><span>PASTRIES</span></a></h2>
            <div class="image">
                <img src="{{ url_for('static', filename='/images/pastries/pastry-1.jpg') }}" alt="Fancy Croissant">
                <div class="middle-text">
                    <h3><a href="/shop/pastries">PASTRIES</a></h3>
                </div>
            </div>
        </div>

        <div class="item">
            <h2><a href="/shop/fancy-desserts" class="item-link" data-replace="FANCY DESSERTS"><span>FANCY DESSERTS</span></a></h2>
            <div class="image">
                <img src="{{ url_for('static', filename='/images/fancy-desserts/fd-1.jpg') }}" alt="Pumpkin Treats">
                <div class="middle-text">
                    <h3><a href="/shop/fancy-desserts">FANCY DESSERTS</a></h3>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='/js/script.js') }}"></script>

    </div>

  <footer>

    {% include 'footer.html' %}

  </footer>
</html>
