@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    font-family: 'Old Standard TT', serif;
}

.wrapper {
    background-image: url("images/breads-2.jpg");
    max-width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.container {
    position: relative;
    width: auto;
    margin: 20px;
}

body {
    margin: 0;
}

.container .topnav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    /* margin: 2rem; */
    background-color: rgba(217, 217, 217, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(217, 217, 217, 0.17);
}

.logo img {
    text-decoration: none;
    width: 40%;
}

.nav-area {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 5;
}

.nav-area a {
    color: #987654;
    text-decoration: none;
    font-size: 16px;
    margin-right: 3rem;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}


/* .container .topnav {
    padding: 1rem;
    overflow: hidden;
    background-color: rgba(217, 217, 217, 0.64);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(217, 217, 217, 0.17);
}

.container .topnav .nav-area {
    float: right;
    list-style: none;
    margin-top: 20px;
    padding-right: 10px;
}

.container .topnav .nav-area li{
    display: inline-block;
    position: ;
}

.container .topnav .nav-area li a{
    color: #987654;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 14px;
}

.container .topnav .nav-area li a:hover {
    background: #fff;
    color: #333;
}

.container .topnav .logo a{
    color: #987654;
    text-decoration: none;
    width: 64px;
    float: left;
    padding: 5px 80px 5px 10px;
    line-height: 30px;
}

.container .topnav .logo a:hover {
    background: #fff;
    color: #333;
} */

.welcome-text {
    margin: 20% 20%;
    text-align: center;
}

.welcome-text a{
    text-align: center;
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}

.welcome-text a:hover {
    background: #fff;
    color: #333;
}

.welcome-text p{
    color: #fff;
    font-style: italic;
    font-size: 20px;
}

.about {
    border: 3px solid #1f3a48;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    padding: 1rem;
}

.about h2.fixed {
    position: fixed;
    left: auto;
}


/* h2 {
    text-align: justify;
}

{
    text-align: right;
} */
