<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon links -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('core.static', filename='/images/favicon/apple-touch-icon.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('core.static', filename='/images/favicon/favicon-32x32.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('core.static', filename='/images/favicon/favicon-16x16.png') }}" />
    <link rel="manifest" href="{{ url_for('core.static', filename='/images/favicon/site.webmanifest') }}" />
    <!-- css file -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('core.static', filename='/css/flash-message-style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('core.static', filename='/css/home-style.css') }}" />
    <!-- googlefont imports -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet"
    />

    {% block css %}{% endblock %}

    <title>{% block title %}{% endblock %}Joyous Treats</title>
</head>
<body>
  <!-- nav-bar  -->
        <nav class="topnav">
            <div class="logo">
              <a href="/"><img src="{{ url_for('core.static', filename='/images/home-page/logo.png') }}" alt="logo" /></a>
            </div>
            <div class ="nav-area">
              <ul class="nav-links">
                <li><a href="#About">ABOUT</a></li>
                <li><a href="{{ url_for('shop.shop') }}">SHOP</a></li>
                <li><a href="#Contact">CONTACT</a></li>
                <div class="dropdown">
                    <button class="dropbtn" onclick="accountFunction()">ACCOUNT
                      <iconify-icon icon="gridicons:dropdown"></iconify-icon>
                    </button>
                    <div class="dropdown-content" id="myDropdown">
                      {% if current_user.is_authenticated %}
                        <a href="{{ url_for('accounts.logout') }}">
                          <iconify-icon icon="ooui:user-avatar"></iconify-icon> LOG OUT</a>
                      {% else %}
                        <a href="{{ url_for('accounts.login') }}">
                          <iconify-icon icon="ooui:user-avatar"></iconify-icon> LOGIN</a>
                      {% endif %}
                      {% if current_user.is_admin %}
                        <a href="{{ url_for('admin.admin_dashboard') }}" title="dashboard">
                          <iconify-icon icon="ri:dashboard-fill"></iconify-icon> ADMIN DASHBOARD</a>
                      {% else %}
                        <a href="{{ url_for('accounts.user_dashboard') }}" title="dashboard">
                          <iconify-icon icon="ri:dashboard-fill"></iconify-icon> USER DASHBOARD</a>
                      {% endif %}
                    </div>
                </div>
              </ul>
              <div class="nav-buttons">
                  <a id="search-icon">
                    <iconify-icon icon="carbon:search"></iconify-icon> </a>
                  <a href="{{ url_for('shop.cart') }}" id="cartIcon">
                    <iconify-icon icon="ph:shopping-cart-fill"></iconify-icon> </a>
                  <a id="menu" href="javascript:void(0);" onclick="menuFunction()">
                    <iconify-icon class="menu-bars" icon="icon:menu"></iconify-icon>
                  </a>
              </div>
            </div>
          </nav>

          <!-- search bar -->
          <div id="search-modal-overlay">
            <div id="search-overlay" class="search-bar">
              <div class="search-content">
                <form role="form" id="search-form" action="/search" method="POST">
                  {{ form.csrf_token }}
                  <input type="text" name="query" id="search-input" placeholder="what are you searching for?" value="{{ request.args.get('query', '') }}">
                  <button type="submit">
                  <iconify-icon icon="carbon:search"></iconify-icon></i>
                  </button>
                </form>
              </div>
            </div>
          </div>



         <!-- messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
         <div id="popup-container" class="popup-container">
             <div class="popup-box">
                 {% for category, message in messages %}
                 <div class="message alert {{ category }}">
                     {{ message }}
                     <button type="button" class="close-btn" aria-label="Close">&times;</button>
                 </div>
                 {% endfor %}
             </div>
         </div>
        {% endif %}
        {% endwith %}

        <main>
        {% block content %}{% endblock %}
        </main>



        <!-- footer -->
        <footer>
          <div class="footer-area" id="Contact">
              <div class="connect">
                  <p>CONNECT</p>
                  <div class="social">
                      <a href="#" title="Instagram account" target="_blank">
                          <iconify-icon icon="bxl:instagram"></iconify-icon>
                      </a>
                      <a href="#" title="Facebook account" target="_blank">
                          <iconify-icon icon="ri:facebook-line"></iconify-icon>
                      </a>
                  </div>
              </div>
              <div class="contact-info">
                  <p>GET IN TOUCH</p>
                  <div class="call-email">
                      <p>07## ### ###</p>
                      <p>joyoustreats@gmail.com</p>
                  </div>
              </div>
              <div class="address">
                  <p>LOCATION</p>
                  <div class="physical-address">
                      <a href="#" title="Google pin">
                        <iconify-icon icon="fluent:location-28-regular"></iconify-icon>
                      </a>
                      <p>THIKA, KENYA</p>
                  </div>
              </div>
              <div class="bottom-nav">
                  <p>NAVIGATE</p>
                  <div class="go-to">
                    <!-- <a href="#About">ABOUT US</a> -->
                    <a href="{{ url_for('shop.shop') }}">SHOP</a>
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('accounts.logout') }}">LOG OUT</a>
                    {% else %}
                    <a href="{{ url_for('accounts.login') }}">LOGIN</a>
                    {% endif %}
                    {% if current_user.is_admin %}
                    <a href="{{ url_for('admin.admin_dashboard') }}">ADMIN DASHBOARD</a>
                    {% else %}
                    <a href="{{ url_for('accounts.user_dashboard') }}">USER DASHBOARD</a>
                    {% endif %}
                  </div>
              </div>
          </div>
          <div class="copyright">
              <p>Copyright 2023, Joyous Joyous.</p>
          </div>
      </footer>
      <!-- javascript files and libraries -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
      <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
      <script type="text/javascript" src="{{ url_for('core.static', filename='/js/script.js') }}"></script>

</body>
</html>
